# Python Basics II: Estruturas avançadas (Let's Code)

Exercícios de Python do curso da Let's Code durante processo seletivo Santander Coders 2022

### Aula 08 - Listas e Tuplas:

In [1]:
nomes_paises = ['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']
print(nomes_paises)

['Brasil', 'Argentina', 'China', 'Canadá', 'Japão']

In [3]:
print('Tamanho da lista: ', len(nomes_paises))

Tamanho da lista:  5

In [4]:
print('País: ', nomes_paises[4])

País:  Japão

In [5]:
print('País: ', nomes_paises[-1])

País:  Japão

Fazendo a substituição de um valor:

In [7]:
# fazendo a substituição de um valor:
nomes_paises[4] = 'Colômbia'
print('País: ', nomes_paises[4])
print(nomes_paises)

País:  Colômbia
['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']

Selecionando intervalos:

In [8]:
print(nomes_paises[1:3])

['Argentina', 'China']

In [9]:
print(nomes_paises[1:-1])

['Argentina', 'China', 'Canadá']

In [10]:
print(nomes_paises[2:])

['China', 'Canadá', 'Colômbia']

In [11]:
print(nomes_paises[:3])

['Brasil', 'Argentina', 'China']

In [12]:
print(nomes_paises[:])

['Brasil', 'Argentina', 'China', 'Canadá', 'Colômbia']

Criar um 'step' para pular valores (exemplo: de 2 em 2)

In [14]:
print(nomes_paises[::2])

['Brasil', 'China', 'Colômbia']

In [15]:
# dá pra inverter a lista dessa forma:
print(nomes_paises[::-1])

['Colômbia', 'Canadá', 'China', 'Argentina', 'Brasil']

In [16]:
print('Brasil' in nomes_paises)

True

In [17]:
print('Canadá' not in nomes_paises)

False

Para adicionar elementos numa lista vazia

In [18]:
lista_capitais = []

In [19]:
lista_capitais.append('Brasilia')
lista_capitais.append('Buenos Aires')
lista_capitais.append('Pequim')
lista_capitais.append('Bogotá')

print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Pequim', 'Bogotá']

In [20]:
# Para inserir um item numa posição específica usar INSERT:

lista_capitais.insert(2, 'Paris')
print(lista_capitais)

['Brasilia', 'Buenos Aires', 'Paris', 'Pequim', 'Bogotá']

Para retirar/deletar elementos de uma lista

In [21]:
lista_capitais.remove('Buenos Aires')
print(lista_capitais)

['Brasilia', 'Paris', 'Pequim', 'Bogotá']

In [22]:
removido = lista_capitais.pop(2)

print(lista_capitais, removido)

['Brasilia', 'Paris', 'Bogotá'] Pequim

### A principal diferença entre uma lista e uma tupla é a flexibilidade do que se pode fazer com cade uma dessas estruturas de dados. (A tupla uma vez definida, não pode ser alterada).

Para declarar uma tupla se usa parênteses ao invés de chaves:

In [23]:
nomes_paises = ('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')
print(nomes_paises)

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão')

In [24]:
# também pode-se utilizar somente os nomes, sem parênteses

nomes_paises = 'Brasil', 'Argentina', 'China', 'Canadá', 'Japão'
print(nomes_paises, type(nomes_paises))

('Brasil', 'Argentina', 'China', 'Canadá', 'Japão') <class 'tuple'>

In [25]:
nome_estado = 'São Paulo',
print(nome_estado, type(nome_estado))

('São Paulo',) <class 'tuple'>

In [27]:
# A fução LEN serve tanto pra listas quanto tuplas

len(nomes_paises)

5

In [28]:
nomes_paises[0]

'Brasil'

A tupla tem uma operação chamada UNPACKING (que não é possível fazer numa lista), colocando cada um dos valores da tupla numa variável diferente

In [29]:
b, a, c, ca, j = nomes_paises

In [32]:
print(b, c, j)

Brasil China Japão

In [31]:
print(*nomes_paises)

Brasil Argentina China Canadá Japão

### Aula 09 - Strings I

In [2]:
empresa = "Google"
print(empresa)

Google

In [3]:
empresa = 'Google'
print(empresa)

Google

In [4]:
empresa = 'Let's Code'
print(empresa)

SyntaxError: invalid syntax (3506547437.py, line 1)

In [5]:
empresa = "Let's Code"
print(empresa)

Let's Code

In [7]:
frase = "O professor Pietro da Let's Code disse \"Hoje a pizza é por minha conta!\""
print(frase)

# Nesse caso foi necessário usar \ como caracter de escape para poder imprimir corretamente os dados da string

O professor Pietro da Let's Code disse "Hoje a pizza é por minha conta!"

In [8]:
empresa = 'Google'
print(empresa[0]) #imprime o caracter que está na posição 0 da string

G

In [9]:
print(empresa[:3]) # retornará os caracteres nas posições 0, 1 e 2

Goo

Método SPLIT irá quebrar a string em diferentes valores, colocando cada um numa lista. Necessário especificar os caracteres que separam cada valor ou então o medódo split irá considerar o padrão (espaço simples)

In [11]:
nomes_cidades = "São Paulo, Belo Horizonte, Rio de Janeiro, Brasilia"
nomes_cidades = nomes_cidades.split(', ')
print(nomes_cidades)

['São Paulo', 'Belo Horizonte', 'Rio de Janeiro', 'Brasilia']

In [12]:
cabecalho = "      MENU PRINCIPAL      "
print(cabecalho.strip())

MENU PRINCIPAL

Mudando formatação do texto:

In [13]:
nome_cidade = 'rIo DE jaNeiro'

print(nome_cidade.title()) #primeiras letras de cada palavra maiúscula
print(nome_cidade.capitalize()) #somente a primeira letra maiúscula
print(nome_cidade.lower()) #tudo minúsculo
print(nome_cidade.upper()) #tudo maiúsculo

Rio De Janeiro
Rio de janeiro
rio de janeiro
RIO DE JANEIRO

Exemplo de utilização para padronizar o input de um usuário e não ter dados errados por conta de capitalização:

In [15]:
nome_cidade = input('Qual cidade do Brasil é conhecida como cidade maravilhosa? ')
nome_cidade = nome_cidade.strip()

while nome_cidade.lower() != 'rio de janeiro':
    print('Tenta de novo, vai')
    nome_cidade = input('Qual cidade do Brasil é conhecida como cidade maravilhosa? ')
    
print('Booa, campeão!')

Qual cidade do Brasil é conhecida como cidade maravilhosa? São Paulo
Tenta de novo, vai
Qual cidade do Brasil é conhecida como cidade maravilhosa? Salvador
Tenta de novo, vai
Qual cidade do Brasil é conhecida como cidade maravilhosa? Belo Horizonte
Tenta de novo, vai
Qual cidade do Brasil é conhecida como cidade maravilhosa? Rio de Janeiro
Booa, campeão!

In [16]:
mensagem = 'Você viu o que o Pietro disse na sala ontem?'
fui_citado = 'Pietro' in mensagem
print(fui_citado)

True

## Aula 10 - Strings II

In [17]:
cumprimento = 'Olá, '
nome = 'Felipe'
print(cumprimento + nome)

Olá, Felipe

In [18]:
print(nome * 5)

FelipeFelipeFelipeFelipeFelipe

In [25]:
nome = 'Felipe'
idade = 35
n_filhos = 2
# precisa fazer casting para alterar de número para string

print(nome+' tem '+str(idade)+' anos e '+str(n_filhos)+' filhos.')

Felipe tem 35 anos e 2 filhos.

In [21]:
# outra opção é usar o método FORMAT

print('{} tem {} anos e {} filhos.'.format(nome, idade, n_filhos))

Felipe tem 35 anos e 2 filhos.

In [26]:
# um atalho apra utilizar a função FORMAT:
# incluir " f' " antes do texto que será impresso e dentro das chaves colocar o nome das strings

print(f'{nome} tem {idade} anos e {n_filhos} filhos.')

Felipe tem 35 anos e 2 filhos.

In [24]:
preco_gasolina = 3.476 #com a função FORMAT é possível mostrar apenas os 2 primeiros dados para o usuário

print('O preço da gasolina hoje subiu e está em R$ {:.2f}'.format(preco_gasolina)) #'.2' se refere a quantidade de casas decimais / 'f' é uma flag para  identificar que é um número FLOAT

O preço da gasolina hoje subiu e está em R$ 3.48

## Aula 11 - Dicionários

Em um dicionário (ex Aurélio) temos verbetes e seus significados.

Usando essa analogia em Python temos que:
- Verbetes são as chaves
- Significados serão os valores dessas chaves

Recapitulando:
- Na declaração de listas usa-se colchetes []
- Na declaração de tuplas usa-se parênteses ()
- No dicionário sua-se chaves {}

In [1]:
dados_cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'area_km2': 1521,
    'populacao_milhoes': 12.18,
}

In [2]:
print(type(dados_cidade))

<class 'dict'>

In [3]:
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18}

Para adicionar um novo elemento:

In [4]:
dados_cidade['pais'] = 'Brasil'

In [5]:
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.18, 'pais': 'Brasil'}

In [6]:
print(dados_cidade['nome'])

São Paulo

Para alterar os dados de uma chave:

In [9]:
# arualizando informações conforme dados da Wikipedia (2020)
dados_cidade['populacao_milhoes'] = 12.33

In [10]:
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil'}

É possível fazer uma cópia do dicionário para edição de alguma informação num dicionário totalmente independente.

Se apenas fizer uma relação ao invés de fazer COPY, os dados alterados irão influenciar o dicionário original. Exemplo:

In [11]:
dados_cidade_2 = dados_cidade

In [13]:
dados_cidade_2['nome'] = 'Santos'

In [14]:
print(dados_cidade_2) # alterou de São Paulo para Santos
print(dados_cidade) # ficou com informações incorretas, conforme alteração de dados_cidade_2

{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil'}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil'}

Fazendo da forma correta (via método COPY) e alterando os dados:

In [15]:
dados_cidade_3 = dados_cidade.copy()

In [16]:
dados_cidade_3['nome'] = 'Rio de Janeiro'
dados_cidade_3['estado'] = 'Rio de Janeiro'
dados_cidade_3['area_km2'] = 1200
dados_cidade_3['população_milhoes'] = 6.748 # em 2020

In [18]:
print(dados_cidade_3)
print(dados_cidade_2)
print(dados_cidade)

{'nome': 'Rio de Janeiro', 'estado': 'Rio de Janeiro', 'area_km2': 1200, 'populacao_milhoes': 12.33, 'pais': 'Brasil', 'população_milhoes': 6.748}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil'}
{'nome': 'Santos', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil'}

É possível atualizar um dicionário utilizando método UPDATE

In [19]:
# corrigindo dados de São Paulo em 'dados_cidade':

novos_dados = {
    'nome': 'São Paulo',
    'fundacao': '25/01/1554',
}

dados_cidade.update(novos_dados)
print(dados_cidade)

{'nome': 'São Paulo', 'estado': 'São Paulo', 'area_km2': 1521, 'populacao_milhoes': 12.33, 'pais': 'Brasil', 'fundacao': '25/01/1554'}

Se tentar buscar um dado que não existir, dará erro.
Mas se usar o método GET, ele mostrará um resultado 'none'

In [20]:
dados_cidade['prefeito']

KeyError: 'prefeito'

In [21]:
print(dados_cidade.get('prefeito'))

None

3 métodos diferentes de transformar um dicionário em listas

In [22]:
print(dados_cidade.keys()) # retorna uma lista de chaves de um dicionário
print('----')
print(dados_cidade.values()) # retorna uma lista de valores de um dicionário
print('----')
print(dados_cidade.items()) # retorna uma lista de tuplas (chave, valor) de um dicionário

dict_keys(['nome', 'estado', 'area_km2', 'populacao_milhoes', 'pais', 'fundacao'])
----
dict_values(['São Paulo', 'São Paulo', 1521, 12.33, 'Brasil', '25/01/1554'])
----
dict_items([('nome', 'São Paulo'), ('estado', 'São Paulo'), ('area_km2', 1521), ('populacao_milhoes', 12.33), ('pais', 'Brasil'), ('fundacao', '25/01/1554')])

## Aula 12 - Estruturas de Repetição - For (for loop)

In [23]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

O mesmo exemplo utilizando o método WHILE:

In [25]:
contador = 0
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
Paris

FOR também se aplica em tuplas e em dicionários:

In [26]:
nomes_cidades = ('São Paulo', 'Londres', 'Tóquio', 'Paris')

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [27]:
# para dicionário tem que mudar algumas coisas

cidade = {
    'nome': 'São Paulo',
    'estado': 'São Paulo',
    'populacao_milhoes': 12.18,
}

for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.18

Não é possível alterar dados nessa lista apenas atribuindo um novo valor:

In [30]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    nome = 'Rio de Janeiro'
print(nomes_cidades)
print(nome)

['São Paulo', 'Londres', 'Tóquio', 'Paris']
Rio de Janeiro

Para alterar os dados precisaremos referenciar diretamente cada elemento (pela sua posição) com auxílio da função RANGE:

In [31]:
for posicao in range(len(nomes_cidades)):
    print(posicao)

0
1
2
3

In [32]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [34]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[0] = 'Bauru'
    nomes_cidades[1] = 'Belo Horizonte'
    nomes_cidades[2] = 'Brasília'
print(nomes_cidades)

['Bauru', 'Belo Horizonte', 'Brasília', 'Rio de Janeiro']

Outra utilização do RANGE:

In [35]:
print(list(range(10))) # valor final
print(list(range(2, 10))) # valor inicial e final
print(list(range(2, 10, 2))) # valor inicial, final e incremento (a cada 2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]

## Aula 13 - Funções I

In [36]:
# o primeiro passo é definir a função
def hello():
    print('Olá, mundo!')

In [37]:
# para chamar a função:
hello()

Olá, mundo!

Exemplo prático:

In [38]:
# definindo os parâmetros da função:
def calcula_media(valor1, valor2, valor3):
    soma = valor1 + valor2 + valor3
    media = soma/3
    return media

In [39]:
resultado = calcula_media(9, 10, 8)
print(resultado)

9.0

In [40]:
resultado2 = calcula_media(valor1=9, valor2=10, valor3=8)
print(resultado2)

9.0

In [41]:
print('Olá')
print(', Pietro')

Olá
, Pietro

In [42]:
#para evitar a quebra de linhas, uma opção é usar END incluindo um espaço entre os prints
print('Olá', end=' ')
print(', Pietro')

Olá , Pietro

In [43]:
def calcula_media(valor1=0, valor2=0, valor3=0):
    soma = valor1 + valor2 + valor3
    media = soma/3
    return media

In [44]:
resultado = calcula_media()
print(resultado)

0.0

## Aula 14 - Funções II (Args e Cords)

Utilizando Args:

In [46]:
def calcula_media(*args):
    print(args, type(args))

In [47]:
calcula_media(10, 8, 9)

(10, 8, 9) <class 'tuple'>

Redefinindo o método de calcular a média:

In [48]:
def calcula_media(*args):
    soma = sum(args)
    media = soma / len(args)
    return media

calcula_media(10, 8, 9)

9.0

Se precisar utilizar uma margem de erro, por exemplo, o código fica assim:

In [49]:
def calcula_media(*args, margem):
    soma = sum(args)
    media = soma / len(args)
    return media + margem

calcula_media(10, 8, 9, margem=0.3)

9.3

Utilizando Cords / kwargs:

In [50]:
def print_info(**kwargs):
    print(kwargs, type(kwargs))

In [51]:
print_info(nome='Pietro', sobrenome='Ribeiro')

{'nome': 'Pietro', 'sobrenome': 'Ribeiro'} <class 'dict'>